* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  position: relative;
  background-color: $bc;
  font-family: $roboto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  transition: $tr;
}

img {
  width: 100%;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

input,
button {
  outline: none;
  border: none;
  background: transparent;
}

// flex footer
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .content {
    flex: 1 0 auto;
  }
}

// flex footer end

// container
.container {
  width: 100%;
  padding-right: rem(15px);
  padding-left: rem(15px);
  margin-right: auto;
  margin-left: auto;
  max-width: rem(1357);
  position: relative;
  box-sizing: border-box;

  @include lg {
    max-width: rem(960px);
  }

  @include md {
    max-width: rem(720px);
  }

  @include sm {
    max-width: rem(540px);
  }

  @include xs {
    max-width: 100%;
  }
}


// container end

.overhead {
  font-weight: 700;
  color: $wc;
  margin-bottom: rem(14);
  position: relative;
  padding-left: rem(70);
  position: relative;
  z-index: 1;

  &:before {
    position: absolute;
    top: 50%;
    left: 0;
    content: '';
    height: rem(1);
    width: rem(50);
    background-color: $mc;
  }
}

.headeing {
  color: $wc;
  font-weight: 900;
  font-size: rem(35);
  font-family: $inter;
  margin-bottom: rem(12);
  z-index: 1;
  position: relative;
}

.p_text {
  font-size: rem(18);
  color: $wc;
  font-weight: 400;
}

.link {
  color: $wc;
  font-weight: 700;
  font-size: rem(18);
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:hover {
    &:after {
      transform: translateY(-2px) translateX(2px);
    }
  }

  &:after {
    position: absolute;
    content: '\e803';
    font-family: icon;
    left: calc(100% + 10px);
    bottom: 0;
    color: $mc;
    font-size: rem(13);
    transition: $tr;
  }
}

.btn-wrap {
  .btn {
    background-color: #D9D9D9;
    @include aic-jcc;
    max-width: rem(275);
    width: 100%;
    font-weight: 700;
    color: $bc;
    font-size: rem(18);
    min-height: rem(52);
    outline: none;
    cursor: pointer;
  }
}