.f-18-bold {
  font-size: rem(18);
  font-weight: 700;
}

.f-20-bold {
  font-size: rem(18);
  font-weight: 700;
}

.f-18-regular {
  font-size: rem(18);
  font-weight: 400;
}

.c-w {
  color: $wc;
}

.c-b {
  color: $bc;
}
.mc {
  color: $mc;
}
.sc {
  color: $sc;
}